~{ if name == "Research Interests"}~
	<p>
	~{ for item in contents }~
		+ ~{{item.name}}~ <br>
	~{ endfor }~
	</p>
	
~{ elif name == "Publications" }~
~{ for type in contents }~
    ~{ if type['details'] != '' }~
    	<table class="table table-responsive table-break-medium">
    		<thead>
    			<tr>
                    <th colspan="4">~{{ type['title'] }}~</th>
    		</tr>
    		</thead>
    		<tbody>
                <td colspan="4">
    			~{{ type['details'] }}~
            </td>
    		</tbody>
    	</table>
    	<br>
    ~{ endif }~
    
~{ endfor }~

~{ elif name == "Education" }~
	<table class="table table-responsive table-break-medium">
		<thead>
			<tr>
                <th colspan="4">~{{ name }}~</th>
		</tr>
		</thead>
		<tbody>
			~{ for item in contents }~
				<tr class="table-entry-with-description" >
					<td>
					  ~{{item.dates}}~
				  	</td>
					<td>
						<strong>
							~{{item.name}}~
						</strong>
				  	</td>
					<td>
						~{{item.info}}~
				  	</td>
					<td>
						~{{item.location}}~
				  	</td>
			    </tr>
				~{ if item.details }~
				<tr class="table-description">
					<td>
				  	</td>
					<td colspan="3">
					~{ for subitem in item.details }~
						~{ if subitem.url }~
							<a href="~{{subitem.url}}~" colspan="4">
								+ ~{{subitem.name}}~
						  	</a>
						~{ else }~
							+ ~{{subitem.name}}~
						~{ endif }~
						<br>	
					~{ endfor }~
				  	</td>
			    </tr>
				~{ endif }~
			~{ endfor }~
		</tbody>
	</table>
	<br>


~{ elif name.endswith("Experience") or name=="Talks" }~
	<table class="table table-responsive table-break-medium">
		<thead>
			<tr>
				<th colspan="4">~{{ name }}~</th>			</tr>
		</thead>
		<tbody>
			~{ for item in contents }~
				<tr class="table-entry-with-description" >

					<td>
					  ~{{item.dates}}~
				  	</td>
					<td>
						<strong>
							~{{item.info}}~
						</strong>
				  	</td>
					<td>
					  ~{{item.name}}~
				  	</td>
					<td>
						~{{item.location}}~
				  	</td>
			    </tr>
				~{ if item.details }~
				<tr class="table-description">
					<td>
				  	</td>
					<td colspan="3">
					~{ for subitem in item.details }~
						~{ if subitem.url }~
							<a href=" ~{{subitem.url}}~ " colspan="4">
								+ ~{{subitem.name}}~
						  	</a>
						~{ else }~
							+ ~{{subitem.name}}~
						~{ endif }~
						<br>	
					~{ endfor }~
				  	</td>
			    </tr>
				~{ endif }~
			~{ endfor }~
		</tbody>
	</table>
	<br>   

~{ elif name=="Volounteer Experiences" }~
	<table class="table table-responsive table-break-medium">
		<thead>
			<tr>
				<th colspan="3">~{{ name }}~</th>			</tr>
		</thead>
		<tbody>
			~{ for item in contents }~
				<tr class="table-entry-with-description" >

					<td>
					  ~{{item.dates}}~
				  	</td>
					<td>
						<strong>
							~{{item.name}}~
						</strong>
				  	</td>
					<td>
						~{{item.location}}~
				  	</td>
			    </tr>
				~{ if item.details }~
				<tr class="table-description">
					<td>
				  	</td>
					<td colspan="2">
					~{ for subitem in item.details }~
						~{ if subitem.url }~
							<a href="~{{subitem.url}}~" colspan="4">
								+ ~{{subitem.name}}~
						  	</a>
						~{ else }~
							+ ~{{subitem.name}}~
						~{ endif }~
						<br>	
					~{ endfor }~
				  	</td>
			    </tr>
				~{ endif }~
			~{ endfor }~
		</tbody>
	</table>
	<br>   

~{ elif name=="Honors - Awards" }~
	<table class="table table-responsive table-break-medium">
		<thead>
			<tr>
			<th colspan="2">~{{ name }}~</th>			</tr>
		</thead>
		<tbody>
			~{ for item in contents }~
				<tr class="table-entry-with-description" >

					<td>
					  ~{{item.dates}}~
				  	</td>
					<td>
						<strong>
							~{{item.name}}~
						</strong>
				  	</td>
			    </tr>
				~{ if item.details }~
				<tr class="table-description">
					<td>
				  	</td>
					<td colspan="2">
					~{ for subitem in item.details }~
						~{ if subitem.url }~
							<a href="~{{subitem.url}}~" colspan="4">
								+ ~{{subitem.name}}~
						  	</a>
						~{ else }~
							+ ~{{subitem.name}}~
						~{ endif }~
						<br>	
					~{ endfor }~
				  	</td>
			    </tr>
				~{ endif }~
			~{ endfor }~
		</tbody>
	</table>
	<br>   

~{ elif name == "Skills" }~
	~{ for item in contents }~
		<table class="table table-responsive table-break-medium">
            <thead>
                <tr>
                    <th colspan="2">
                        ~{{ name }}~: ~{{item.title}}~
                    </th>
                </tr>
            </thead>
            <tbody>
				~{ for subitem in item. levels }~
					<tr class="table-entry-with-description" >

						<td>
						    ~{{subitem.name}}~
					  	</td>
						<td>
							~{{subitem.skill}}~
					  	</td>
				~{ endfor }~
			</tbody>
		</table>
	~{ endfor }~

    <br>
    <br>

~{ elif name == "Attachments" }~
    ~{ for item in contents }~
    	+ <a href="{{site.url}}/~{{item.file}}~">~{{item.name}}~</a><br>
    ~{ endfor }~
~{ endif }~
