---
layout: default
title: CV
---



<h3>Vitæ ~{{name.first}}~ ~{{name.last}}~</h3>

<p><a href="~{{pdf}}~">PDF</a> &#124;
<a href="~{{src}}~">source</a> &#124;
<a href="mailto:~{{email}}~">email</a> &#124;
Generated ~{{today}}~</p>
~{{body}}~

